p {
text-align:justify;
}

h1, h2, h3 {
text-align:justify;
}

form {
text-align:justify;
}

body {
    background-color: rgba(255,230,180);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

main img {
  max-width: 80%; /* la imagen nunca será más ancha que su contenedor */
  height: auto;    /* mantiene la proporción */
  display: block;  /* evita que quede espacio raro debajo */
  margin: 0 auto;  /* centra la imagen si no ocupa todo el ancho */
  padding: 10%;
}

.responsive-iframe {
  position: relative;
  overflow: hidden;
  width: 100%;       /* ocupa el ancho del contenedor */
  padding-top: 56.25%; /* relación 16:9 (alto/ancho = 9/16 = 0.5625) */
}

.logo-texto {
  font-size: 12px;
  color: #555;
  margin-top: 5px;
  text-align: center;
  opacity: 0.2;
}
