p {
padding:20px; 
text-align:justify;
}

h1, h2, h3 {
padding:20px; 
text-align:justify;
}

form {
padding:20px; 
text-align:justify;
}

body {
    background-color: rgba(255,230,180);
    font-family: Georgia, 'Times New Roman', Times, serif;
}